NEXT_PUBLIC_SUPABASE_URL=https://bzuyacmjuwjveehbrvsw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ6dXlhY21qdXdqdmVlaGJydnN3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQwNzc4MDEsImV4cCI6MjA4OTY1MzgwMX0.imTL5YpA_GtpAFC8oh92HEQ-ALSeg5k22UYEdaeyqAQ
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ6dXlhY21qdXdqdmVlaGJydnN3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDA3NzgwMSwiZXhwIjoyMDg5NjUzODAxfQ._CV_TM4Scu85pA68UHid98Jb-lODAK0MFrUMTQ2e5wQ
POSTGRES_URL=postgresql://postgres:sangam@Kunwar124680@db.bzuyacmjuwjveehbrvsw.supabase.co:5432/postgres
ADMIN_EMAIL=sangamkunwar48@gmail.com
ADMIN_PASSWORD=sangam@kunwar124680
GMAIL_USER=sangamkunwar48@gmail.com
GMAIL_PASSWORD=sangam@kunwar124680
NEXT_PUBLIC_APP_URL=https://allinonecard.netlify.app
